doctype html 
html
  head
    title Dotted Line Donations 
    link(rel='shortcut icon' type='image/x-icon' href='/static/favicon.png')  
    block scripts
    block style 
  body
    nav#navbar  
            ul
               div#logo
                   img(src="../static/logonew.png")  
            li #[a(href="/") Home]
            li #[a(href="/about") About Me] 
            li #[a(href="/donate") Donate Now]
    block content 
    footer#footer 
        | Copyright &copy DottedLineDonations.org 