extends base.pug

block style 
    style   
        include ../static/style.css
        

block content 
    section#slogan 
        h1  We must act immediately to take on the Corona Virus (COVID-19)
        h3 We need your support 
    section#matterHome1 
        p We are in the midst of the one of the severest humanitarian crisis in a century. With the surge in the second wave, a disastrous tragedy is unfolding in India, especially in the lives of the vulnerable communities who are battling the virus as well as daily survival, at the worst ever happening. Millions have been rendered homeless and without a livelihood, with quality care of their children compromised. Children are at a far greater risk as the second wave of Covid 19 strikes India. Fear of getting infected with Covid-19, anxiety to succumb to the virus, concern for an infected relative, and the thought of losing a loved one to this virus this is the current state of mind for most of us . In these trying times SOS Children's Villages of India expresses solidarity with the people to fight COVID -19 as well as to reach out and support to the best of our ability. Since the COVID-19 pandemic has affected the country, all in terms of scale, speed of spread and impact, as a measure of response, SOS Children's Villages of India has developed different strategies to cater to the emerging health and humanitarian crisis among the most vulnerable and disadvantaged children, families and communities, while ensuring that all the children under our care too remain safe and secure.
    section#imgSec1
        img(src="/static/img.jpg", alt="")
    section#matterHome2
        p The COVID-19 pandemic is one of the worst health and economic crises in modern history and it continues to require the best of humanity to overcome. Your donation to this fund will help stop COVID-19's spread and protect us all.We believe that organizations that are deeply rooted in local communities are best positioned to lead long-term plans to stop COVID-19. Your donation to this fund will help build stronger response capacities in communities around the world so that we are all better equipped to face future outbreaks. GlobalGiving will send you regular email updates about how your donation has been put to use.
    section#imgSec2
        img(src="/static/img2.jpg", alt="")
    section#matterHome3 
        p Your donation to this fund will help stop the virus's spread around the world and give communities on the front lines of the crisis the resources they need to act quickly and protect the most vulnerable. Donations are already helping to: 
    section#matterHome3 
        ul 
            li Make COVID vaccines more accessible and affordable 
            li Send Doctors, nurses, and other front line responders to communities in need 
            li Get masks, ventilators, and other livesaving medical supplies to hospitals and clinics 
            li Deliver essential items to struggling families and older individuals in quarantined cities and refugee camps 
            li Provide mental and emotional support to frontline respoonders, survivors of domestic abuse, and many other affected by the pandemic 
            li Support hygiene awareness efforts 
            li and much, much more. 