@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    color: white;
    font-family: 'Quicksand', sans-serif;
}
#navbar{
    padding: 13px 14px;
    border-radius: 6px;
    display: flex;
    border-radius: 69px;
    overflow: hidden;
}
#navbar ul{
    flex-direction: row;
    align-items: center;
    padding-left: 27px;
    padding-right: 341px;
    margin-right: 88px;
    display: flex;
}
#navbar li{
    list-style: none;
    padding-right: 211px;
    font-size: 23px;
}
#navbar li a{
    float: left;
    display: flex;
    text-align: center;
    text-decoration: none;
    padding-right: 23px;
    padding-top: 13px;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 9px;
    margin-top: 2px;
    font-size: 23px;
}
#navbar #logo img{
    display: flex;
    height: 71px;
    align-items: center;
    border-radius: 50%;
}
body{
     background: no-repeat center/cover url('/static/david-marcu-78A265wPiO4-unsplash.jpg');;
}
#intro{
    display: flex;
justify-content: center;
height: 601px;
align-items: center;
font-size: xxx-large;
}
@media only screen and (max-width:1235px) and (min-width: 450px){
    #navbar ul{
        flex-direction: row;
        align-items: center;
        padding-left: 27px;
        padding-right: 15px;
        margin-right: 88px;
        display: flex;
    }
}